.MyPosts {
	display: flex;
	align-items: center;
	margin: 0 auto;
	align-self: flex-start;
	margin-bottom: 40px;
}

.MyPosts table {
	margin-top: 40px;
	width: 60vw;
}

.MyPosts td {
	padding: 10px;
	background-color: var(--alt-bg-color);
}

.MyPosts th {
	background-color: var(--alt-bg-color);
	text-transform: uppercase;
	padding: 10px;
}

.center-text {
	width: 100%;
}
