.notification {
	position: fixed;
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	padding: 15px 30px;
	background-color: var(--alt-bg-color);
	color: var(--main-text-color);
	border-radius: 4px;
	z-index: 1000;
}

.notification span {
	margin-right: 20px;
}

.notification .closeBtn {
	position: absolute;
	right: 5px;
	top: 5px;
	border: none;
	padding: 5px;
	margin: 0;
}

.notification .error {
	color: var(--error-color);
}

.notification .success {
	color: var(--success-color);
}

.box-shadow-3d {
	box-shadow: 1px 1px 0px var(--main-blue), 2px 2px 0px var(--main-blue),
		3px 3px 0px var(--main-blue), 4px 4px 0px var(--main-blue),
		5px 5px 0px var(--main-blue), 6px 6px 0px var(--main-blue);
}
