.user-info-container {
	cursor: default;
	position: absolute;
	display: flex;
  bottom: -100px;
  right: 0;
  height: 100px;
	z-index: 50;
	background: var(--main-bg-color);
	border-radius: 4px;
	padding: 15px;
	border: 1px solid var(--alt-bg-color);
}

.user-info-container img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.user-info-container .info {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
